./*/*.pyc
./*/*/*.pyc
./*.private
./*/*.private
./*/*/*.private
*.log
./*.log
./**/*.log
venv
./**/node_module
./**/venv
./**/*.pyc

test/node_module
test/node_modules
.bit
./*/.bit
./*/*/.bit

# Local Netlify folder
.netlify