<html>
  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 30px;
      }
    </style>
  </head>
  <body>
    <h1>Screener</h1>
    <form>
      <select name="pattern">
        {% for pattern in patterns %}
        <option value="{{pattern}}">{{patterns[pattern]}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="scan" />
    </form>
    {%if result|length > 0 %}
    <div class="result">
      <table>
        {% for res in result %}
        <tr>
          <td>{{res.symbol}}</td>
          <td>{{res.value}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </body>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_2b0fa"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget({
        width: 980,
        height: 610,
        symbol: "NSE:TCS",
        interval: "D",
        timezone: "Etc/UTC",
        theme: "light",
        style: "1",
        locale: "uk",
        toolbar_bg: "#f1f3f6",
        enable_publishing: false,
        allow_symbol_change: true,
        container_id: "tradingview_2b0fa",
      });
    </script>
  </div>
  <!-- TradingView Widget END -->
</html>
