/* This is a common d.scss file */
$small: 420px;
$medium: 900px;
$large: 1200px;
//========================== OVERRIDE ==========================
p {
    margin: 0px !important;
}
div {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
.hide {
    display: none !important;
}
//=========================  Layout ==============================
.d_layout_row {
    display: flex;
    flex-direction: row;
    &.responsive {
        @media screen and (max-width: $small) {
            flex-direction: column;
        }
    }
    &.d_layout_center {
        align-items: center;
    }
    &.d_layout_center_all {
        justify-content: center;
        align-items: center;
    }
}
.d_layout_col {
    display: flex;
    flex-direction: column;
    &.d_layout_center {
        justify-content: center;
    }
    &.d_layout_center_all {
        justify-content: center;
        align-items: center;
    }
}

.d_layout_three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.d_layout_three > * {
    width: 33%;
}
.d_layout_fill {
    flex: 1;
    display: flex;
}
.d_layout_wrap {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $small) {
        flex-wrap: nowrap;
    }
}
.d_layout_equal {
    > * {
        flex: 1;
    }
}
.d_row_center {
    align-items: center;
}
.d_layout_row_equal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    & > * {
        flex: 1;
    }
}
.d_layout_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.d_layout_equal,
.d_flex_equal {
    > * {
        flex: 1;
    }
}
.d_layout_two > * {
    width: 50%;
}
.d_layout_baseline {
    align-items: baseline;
}
.d_layout_space_between {
    justify-content: space-between;
    align-content: baseline;
}
.d_layout_spacer {
    flex: 1;
}
.d_align_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.d_fullscreen {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    // overflow: hidden; << DO NOT DO THAT
}
.d_fullwidth {
    width: 100%;
}
.d_layout_space {
    flex: 1;
}
.d_justify_center {
    justify-content: center;
}
.d_layout_action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d_layout_row_center {
    justify-content: center;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}
//=========================  Text Styling ==============================
.d_link {
    cursor: pointer;
}

.d_bold {
    font-weight: bold;
}
.d_center {
    display: flex;
    flex: 1 1 auto;
}
/* Define style which shold be moved to dalyout */
.d_text_header {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    opacity: 1;
}
.d_text_title {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    opacity: 0.75;
}
.d_text_subtitle {
    padding: 0;
    margin: 0;
    opacity: 0.5;
}
.d_text_caption {
    font-size: 13px;
    letter-spacing: 0.2px;
    font-style: italic;
    opacity: 0.4;
}
.d_align_left {
    text-align: left;
}
.d_border_left {
    padding-left: 20px;
    border-left: 1px dashed rgba(0, 0, 0, 0.2);
    height: 100%;
}
.d_border_right {
    padding-right: 20px;
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
    height: 100%;
}
.d_bold {
    font-weight: bold;
}
.d_text_center {
    text-align: center;
}
.d_text_left {
    text-align: left;
}
.d_text_right {
    text-align: left;
}
.d_text_hero {
    font-size: 30px;
    opacity: 1;
}

.d_nostyle {
    padding: 0;
    margin: 0;
    list-style: none;
}
.d_box_highlight {
    background: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.d_test_caption {
    font-size: 12.5px;
    opacity: 0.5;
    line-height: 1.3;
    font-style: italic;
}
//=========================  Spacing ==============================
// generate Margin and Padding
@for $i from 1 through 50 {
    .d_p#{$i} {
        padding: 1px * $i !important;
    }
    .d_pt#{$i} {
        padding-top: 1px * $i !important;
    }
    .d_pl#{$i} {
        padding-left: 1px * $i !important;
    }
    .d_pr#{$i} {
        padding-right: 1px * $i !important;
    }
    .d_pb#{$i} {
        padding-bottom: 1px * $i !important;
    }
    .d_px#{$i} {
        padding-left: 1px * $i !important;
        padding-right: 1px * $i !important ;
    }
    .d_py#{$i} {
        padding-top: 1px * $i !important;
        padding-bottom: 1px * $i !important;
    }
    .d_m#{$i} {
        margin: 1px * $i !important;
    }
    .d_mt#{$i} {
        margin-top: 1px * $i !important;
    }
    .d_ml#{$i} {
        margin-left: 1px * $i !important;
    }
    .d_mr#{$i} {
        margin-right: 1px * $i !important;
    }
    .d_mb#{$i} {
        margin-bottom: 1px * $i !important;
    }
    .d_mh#{$i} {
        margin-left: 1px * $i !important;
        margin-right: 1px * $i !important;
    }
    .d_mv#{$i} {
        margin-top: 1px * $i !important;
        margin-bottom: 1px * $i !important;
    }
}
.d_spacer {
    @media screen and (max-width: $small) {
        margin: 10px 0;
    }
}

// boder
.d_border_bottom {
    border-bottom: 1px solid whitesmoke;
}
.d_border_top {
    border-top: 1px solid whitesmoke;
}
//=========================  Responsive ==============================
.responsive_container {
    // medium screen 300px ->900px
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    @media screen and (max-width: $small) {
        width: 100%;
        padding: 10px;
    }
    // big screen > 900px
    @media screen and (min-width: $medium) {
        width: 840px;
        padding: 20px;
    }
    // very large screen > 900px
    @media screen and (min-width: $large) {
        width: 1000px;
        padding: 0px auto;
    }
}

.d_responsive {
    .d_layout_row {
        @media screen and (max-width: $small) {
            flex-direction: column;
            &.d_no_responsive {
                flex-direction: row;
            }
        }
    }
}

//======================= FONT ============================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
    width: 100%;
    min-height: 100%;
}
body,
p,
span {
    font-family: "Lato", sans-serif;
}

//=========================  Theme ==============================
.d_theme {
    background: whitesmoke;
    .info_box {
        background: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        // medium screen 300px ->900px
        width: 100%;
        padding: 30px;
        margin: 30px auto;
        //small screen like mobile <300px
        @media screen and (max-width: $small) {
            padding: 25px 10px;
            margin: 30px auto;
        }
        // big screen > 900px
        @media screen and (min-width: $medium) {
            padding: 30px;
            margin: 20px auto;
        }
        // very large screen > 900px
        @media screen and (min-width: $large) {
            padding: 30px;
            margin: 20px auto;
        }
    }
}

//====================== ICON =============================================================
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css");

//===================== COLOR ========================
@for $i from 1 through 10 {
    .d_white_#{$i} {
        color: rgba(255, 255, 255, $i * 0.1);
    }
    .d_black_#{$i} {
        color: rgba(255, 255, 255, $i * 0.1);
    }
}

//====== I N P U T ===
.d_textarea {
    border: 2px solid #00000066;
    height: 50px;
    outline: none;
    &:hover,
    &:active {
        border: 2px solid black;
    }
}
.d_input {
}
