/* This is a common d.scss file */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css");
p {
  margin: 0px !important;
}

.d_layout_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 420px) {
  .d_layout_row.responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.d_layout_row.d_layout_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_layout_row.d_layout_center_all {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_layout_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d_layout_col.d_layout_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d_layout_col.d_layout_center_all {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_layout_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_layout_three > * {
  width: 33%;
}

.d_layout_fill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_layout_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 420px) {
  .d_layout_wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.d_layout_equal > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d_row_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_layout_row_equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_layout_row_equal > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d_layout_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_layout_equal > *,
.d_flex_equal > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d_layout_two > * {
  width: 50%;
}

.d_layout_baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.d_layout_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.d_layout_spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d_align_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_fullscreen {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.d_fullwidth {
  width: 100%;
}

.d_layout_space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.d_justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d_layout_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d_layout_row_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_link {
  cursor: pointer;
}

.d_bold {
  font-weight: bold;
}

.d_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Define style which shold be moved to dalyout */
.d_title {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  opacity: 0.75;
}

.d_subtitle {
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.d_caption {
  font-size: 13px;
  letter-spacing: 0.2px;
  font-style: italic;
  opacity: 0.4;
}

.d_align_left {
  text-align: left;
}

.d_border_left {
  padding-left: 20px;
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  height: 100%;
}

.d_border_right {
  padding-right: 20px;
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  height: 100%;
}

.d_bold {
  font-weight: bold;
}

.d_text_align_center {
  text-align: center;
}

.d_text_align_left {
  text-align: left;
}

.d_nostyle {
  padding: 0;
  margin: 0;
  list-style: none;
}

.d_box_highlight {
  background: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

.d_test_caption {
  font-size: 12.5px;
  opacity: 0.5;
  line-height: 1.3;
  font-style: italic;
}

.d_p1 {
  padding: 1px !important;
}

.d_pt1 {
  padding-top: 1px !important;
}

.d_pl1 {
  padding-left: 1px !important;
}

.d_pr1 {
  padding-right: 1px !important;
}

.d_pb1 {
  padding-bottom: 1px !important;
}

.d_px1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.d_py1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.d_m1 {
  margin: 1px !important;
}

.d_mt1 {
  margin-top: 1px !important;
}

.d_ml1 {
  margin-left: 1px !important;
}

.d_mr1 {
  margin-right: 1px !important;
}

.d_mb1 {
  margin-bottom: 1px !important;
}

.d_mx1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.d_my1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.d_p2 {
  padding: 2px !important;
}

.d_pt2 {
  padding-top: 2px !important;
}

.d_pl2 {
  padding-left: 2px !important;
}

.d_pr2 {
  padding-right: 2px !important;
}

.d_pb2 {
  padding-bottom: 2px !important;
}

.d_px2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.d_py2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.d_m2 {
  margin: 2px !important;
}

.d_mt2 {
  margin-top: 2px !important;
}

.d_ml2 {
  margin-left: 2px !important;
}

.d_mr2 {
  margin-right: 2px !important;
}

.d_mb2 {
  margin-bottom: 2px !important;
}

.d_mx2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.d_my2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.d_p3 {
  padding: 3px !important;
}

.d_pt3 {
  padding-top: 3px !important;
}

.d_pl3 {
  padding-left: 3px !important;
}

.d_pr3 {
  padding-right: 3px !important;
}

.d_pb3 {
  padding-bottom: 3px !important;
}

.d_px3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.d_py3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.d_m3 {
  margin: 3px !important;
}

.d_mt3 {
  margin-top: 3px !important;
}

.d_ml3 {
  margin-left: 3px !important;
}

.d_mr3 {
  margin-right: 3px !important;
}

.d_mb3 {
  margin-bottom: 3px !important;
}

.d_mx3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.d_my3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.d_p4 {
  padding: 4px !important;
}

.d_pt4 {
  padding-top: 4px !important;
}

.d_pl4 {
  padding-left: 4px !important;
}

.d_pr4 {
  padding-right: 4px !important;
}

.d_pb4 {
  padding-bottom: 4px !important;
}

.d_px4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.d_py4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.d_m4 {
  margin: 4px !important;
}

.d_mt4 {
  margin-top: 4px !important;
}

.d_ml4 {
  margin-left: 4px !important;
}

.d_mr4 {
  margin-right: 4px !important;
}

.d_mb4 {
  margin-bottom: 4px !important;
}

.d_mx4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.d_my4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.d_p5 {
  padding: 5px !important;
}

.d_pt5 {
  padding-top: 5px !important;
}

.d_pl5 {
  padding-left: 5px !important;
}

.d_pr5 {
  padding-right: 5px !important;
}

.d_pb5 {
  padding-bottom: 5px !important;
}

.d_px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.d_py5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.d_m5 {
  margin: 5px !important;
}

.d_mt5 {
  margin-top: 5px !important;
}

.d_ml5 {
  margin-left: 5px !important;
}

.d_mr5 {
  margin-right: 5px !important;
}

.d_mb5 {
  margin-bottom: 5px !important;
}

.d_mx5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.d_my5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.d_p6 {
  padding: 6px !important;
}

.d_pt6 {
  padding-top: 6px !important;
}

.d_pl6 {
  padding-left: 6px !important;
}

.d_pr6 {
  padding-right: 6px !important;
}

.d_pb6 {
  padding-bottom: 6px !important;
}

.d_px6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.d_py6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.d_m6 {
  margin: 6px !important;
}

.d_mt6 {
  margin-top: 6px !important;
}

.d_ml6 {
  margin-left: 6px !important;
}

.d_mr6 {
  margin-right: 6px !important;
}

.d_mb6 {
  margin-bottom: 6px !important;
}

.d_mx6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.d_my6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.d_p7 {
  padding: 7px !important;
}

.d_pt7 {
  padding-top: 7px !important;
}

.d_pl7 {
  padding-left: 7px !important;
}

.d_pr7 {
  padding-right: 7px !important;
}

.d_pb7 {
  padding-bottom: 7px !important;
}

.d_px7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.d_py7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.d_m7 {
  margin: 7px !important;
}

.d_mt7 {
  margin-top: 7px !important;
}

.d_ml7 {
  margin-left: 7px !important;
}

.d_mr7 {
  margin-right: 7px !important;
}

.d_mb7 {
  margin-bottom: 7px !important;
}

.d_mx7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.d_my7 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

.d_p8 {
  padding: 8px !important;
}

.d_pt8 {
  padding-top: 8px !important;
}

.d_pl8 {
  padding-left: 8px !important;
}

.d_pr8 {
  padding-right: 8px !important;
}

.d_pb8 {
  padding-bottom: 8px !important;
}

.d_px8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.d_py8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.d_m8 {
  margin: 8px !important;
}

.d_mt8 {
  margin-top: 8px !important;
}

.d_ml8 {
  margin-left: 8px !important;
}

.d_mr8 {
  margin-right: 8px !important;
}

.d_mb8 {
  margin-bottom: 8px !important;
}

.d_mx8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.d_my8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.d_p9 {
  padding: 9px !important;
}

.d_pt9 {
  padding-top: 9px !important;
}

.d_pl9 {
  padding-left: 9px !important;
}

.d_pr9 {
  padding-right: 9px !important;
}

.d_pb9 {
  padding-bottom: 9px !important;
}

.d_px9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.d_py9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.d_m9 {
  margin: 9px !important;
}

.d_mt9 {
  margin-top: 9px !important;
}

.d_ml9 {
  margin-left: 9px !important;
}

.d_mr9 {
  margin-right: 9px !important;
}

.d_mb9 {
  margin-bottom: 9px !important;
}

.d_mx9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}

.d_my9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.d_p10 {
  padding: 10px !important;
}

.d_pt10 {
  padding-top: 10px !important;
}

.d_pl10 {
  padding-left: 10px !important;
}

.d_pr10 {
  padding-right: 10px !important;
}

.d_pb10 {
  padding-bottom: 10px !important;
}

.d_px10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.d_py10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.d_m10 {
  margin: 10px !important;
}

.d_mt10 {
  margin-top: 10px !important;
}

.d_ml10 {
  margin-left: 10px !important;
}

.d_mr10 {
  margin-right: 10px !important;
}

.d_mb10 {
  margin-bottom: 10px !important;
}

.d_mx10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.d_my10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.d_p11 {
  padding: 11px !important;
}

.d_pt11 {
  padding-top: 11px !important;
}

.d_pl11 {
  padding-left: 11px !important;
}

.d_pr11 {
  padding-right: 11px !important;
}

.d_pb11 {
  padding-bottom: 11px !important;
}

.d_px11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.d_py11 {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.d_m11 {
  margin: 11px !important;
}

.d_mt11 {
  margin-top: 11px !important;
}

.d_ml11 {
  margin-left: 11px !important;
}

.d_mr11 {
  margin-right: 11px !important;
}

.d_mb11 {
  margin-bottom: 11px !important;
}

.d_mx11 {
  margin-left: 11px !important;
  margin-right: 11px !important;
}

.d_my11 {
  margin-top: 11px !important;
  margin-bottom: 11px !important;
}

.d_p12 {
  padding: 12px !important;
}

.d_pt12 {
  padding-top: 12px !important;
}

.d_pl12 {
  padding-left: 12px !important;
}

.d_pr12 {
  padding-right: 12px !important;
}

.d_pb12 {
  padding-bottom: 12px !important;
}

.d_px12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.d_py12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.d_m12 {
  margin: 12px !important;
}

.d_mt12 {
  margin-top: 12px !important;
}

.d_ml12 {
  margin-left: 12px !important;
}

.d_mr12 {
  margin-right: 12px !important;
}

.d_mb12 {
  margin-bottom: 12px !important;
}

.d_mx12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.d_my12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.d_p13 {
  padding: 13px !important;
}

.d_pt13 {
  padding-top: 13px !important;
}

.d_pl13 {
  padding-left: 13px !important;
}

.d_pr13 {
  padding-right: 13px !important;
}

.d_pb13 {
  padding-bottom: 13px !important;
}

.d_px13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.d_py13 {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.d_m13 {
  margin: 13px !important;
}

.d_mt13 {
  margin-top: 13px !important;
}

.d_ml13 {
  margin-left: 13px !important;
}

.d_mr13 {
  margin-right: 13px !important;
}

.d_mb13 {
  margin-bottom: 13px !important;
}

.d_mx13 {
  margin-left: 13px !important;
  margin-right: 13px !important;
}

.d_my13 {
  margin-top: 13px !important;
  margin-bottom: 13px !important;
}

.d_p14 {
  padding: 14px !important;
}

.d_pt14 {
  padding-top: 14px !important;
}

.d_pl14 {
  padding-left: 14px !important;
}

.d_pr14 {
  padding-right: 14px !important;
}

.d_pb14 {
  padding-bottom: 14px !important;
}

.d_px14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.d_py14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.d_m14 {
  margin: 14px !important;
}

.d_mt14 {
  margin-top: 14px !important;
}

.d_ml14 {
  margin-left: 14px !important;
}

.d_mr14 {
  margin-right: 14px !important;
}

.d_mb14 {
  margin-bottom: 14px !important;
}

.d_mx14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

.d_my14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.d_p15 {
  padding: 15px !important;
}

.d_pt15 {
  padding-top: 15px !important;
}

.d_pl15 {
  padding-left: 15px !important;
}

.d_pr15 {
  padding-right: 15px !important;
}

.d_pb15 {
  padding-bottom: 15px !important;
}

.d_px15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.d_py15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.d_m15 {
  margin: 15px !important;
}

.d_mt15 {
  margin-top: 15px !important;
}

.d_ml15 {
  margin-left: 15px !important;
}

.d_mr15 {
  margin-right: 15px !important;
}

.d_mb15 {
  margin-bottom: 15px !important;
}

.d_mx15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.d_my15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.d_p16 {
  padding: 16px !important;
}

.d_pt16 {
  padding-top: 16px !important;
}

.d_pl16 {
  padding-left: 16px !important;
}

.d_pr16 {
  padding-right: 16px !important;
}

.d_pb16 {
  padding-bottom: 16px !important;
}

.d_px16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.d_py16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.d_m16 {
  margin: 16px !important;
}

.d_mt16 {
  margin-top: 16px !important;
}

.d_ml16 {
  margin-left: 16px !important;
}

.d_mr16 {
  margin-right: 16px !important;
}

.d_mb16 {
  margin-bottom: 16px !important;
}

.d_mx16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.d_my16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.d_p17 {
  padding: 17px !important;
}

.d_pt17 {
  padding-top: 17px !important;
}

.d_pl17 {
  padding-left: 17px !important;
}

.d_pr17 {
  padding-right: 17px !important;
}

.d_pb17 {
  padding-bottom: 17px !important;
}

.d_px17 {
  padding-left: 17px !important;
  padding-right: 17px !important;
}

.d_py17 {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.d_m17 {
  margin: 17px !important;
}

.d_mt17 {
  margin-top: 17px !important;
}

.d_ml17 {
  margin-left: 17px !important;
}

.d_mr17 {
  margin-right: 17px !important;
}

.d_mb17 {
  margin-bottom: 17px !important;
}

.d_mx17 {
  margin-left: 17px !important;
  margin-right: 17px !important;
}

.d_my17 {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}

.d_p18 {
  padding: 18px !important;
}

.d_pt18 {
  padding-top: 18px !important;
}

.d_pl18 {
  padding-left: 18px !important;
}

.d_pr18 {
  padding-right: 18px !important;
}

.d_pb18 {
  padding-bottom: 18px !important;
}

.d_px18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.d_py18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.d_m18 {
  margin: 18px !important;
}

.d_mt18 {
  margin-top: 18px !important;
}

.d_ml18 {
  margin-left: 18px !important;
}

.d_mr18 {
  margin-right: 18px !important;
}

.d_mb18 {
  margin-bottom: 18px !important;
}

.d_mx18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.d_my18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.d_p19 {
  padding: 19px !important;
}

.d_pt19 {
  padding-top: 19px !important;
}

.d_pl19 {
  padding-left: 19px !important;
}

.d_pr19 {
  padding-right: 19px !important;
}

.d_pb19 {
  padding-bottom: 19px !important;
}

.d_px19 {
  padding-left: 19px !important;
  padding-right: 19px !important;
}

.d_py19 {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}

.d_m19 {
  margin: 19px !important;
}

.d_mt19 {
  margin-top: 19px !important;
}

.d_ml19 {
  margin-left: 19px !important;
}

.d_mr19 {
  margin-right: 19px !important;
}

.d_mb19 {
  margin-bottom: 19px !important;
}

.d_mx19 {
  margin-left: 19px !important;
  margin-right: 19px !important;
}

.d_my19 {
  margin-top: 19px !important;
  margin-bottom: 19px !important;
}

.d_p20 {
  padding: 20px !important;
}

.d_pt20 {
  padding-top: 20px !important;
}

.d_pl20 {
  padding-left: 20px !important;
}

.d_pr20 {
  padding-right: 20px !important;
}

.d_pb20 {
  padding-bottom: 20px !important;
}

.d_px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.d_py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.d_m20 {
  margin: 20px !important;
}

.d_mt20 {
  margin-top: 20px !important;
}

.d_ml20 {
  margin-left: 20px !important;
}

.d_mr20 {
  margin-right: 20px !important;
}

.d_mb20 {
  margin-bottom: 20px !important;
}

.d_mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.d_my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.d_p21 {
  padding: 21px !important;
}

.d_pt21 {
  padding-top: 21px !important;
}

.d_pl21 {
  padding-left: 21px !important;
}

.d_pr21 {
  padding-right: 21px !important;
}

.d_pb21 {
  padding-bottom: 21px !important;
}

.d_px21 {
  padding-left: 21px !important;
  padding-right: 21px !important;
}

.d_py21 {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
}

.d_m21 {
  margin: 21px !important;
}

.d_mt21 {
  margin-top: 21px !important;
}

.d_ml21 {
  margin-left: 21px !important;
}

.d_mr21 {
  margin-right: 21px !important;
}

.d_mb21 {
  margin-bottom: 21px !important;
}

.d_mx21 {
  margin-left: 21px !important;
  margin-right: 21px !important;
}

.d_my21 {
  margin-top: 21px !important;
  margin-bottom: 21px !important;
}

.d_p22 {
  padding: 22px !important;
}

.d_pt22 {
  padding-top: 22px !important;
}

.d_pl22 {
  padding-left: 22px !important;
}

.d_pr22 {
  padding-right: 22px !important;
}

.d_pb22 {
  padding-bottom: 22px !important;
}

.d_px22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.d_py22 {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}

.d_m22 {
  margin: 22px !important;
}

.d_mt22 {
  margin-top: 22px !important;
}

.d_ml22 {
  margin-left: 22px !important;
}

.d_mr22 {
  margin-right: 22px !important;
}

.d_mb22 {
  margin-bottom: 22px !important;
}

.d_mx22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}

.d_my22 {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

.d_p23 {
  padding: 23px !important;
}

.d_pt23 {
  padding-top: 23px !important;
}

.d_pl23 {
  padding-left: 23px !important;
}

.d_pr23 {
  padding-right: 23px !important;
}

.d_pb23 {
  padding-bottom: 23px !important;
}

.d_px23 {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

.d_py23 {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.d_m23 {
  margin: 23px !important;
}

.d_mt23 {
  margin-top: 23px !important;
}

.d_ml23 {
  margin-left: 23px !important;
}

.d_mr23 {
  margin-right: 23px !important;
}

.d_mb23 {
  margin-bottom: 23px !important;
}

.d_mx23 {
  margin-left: 23px !important;
  margin-right: 23px !important;
}

.d_my23 {
  margin-top: 23px !important;
  margin-bottom: 23px !important;
}

.d_p24 {
  padding: 24px !important;
}

.d_pt24 {
  padding-top: 24px !important;
}

.d_pl24 {
  padding-left: 24px !important;
}

.d_pr24 {
  padding-right: 24px !important;
}

.d_pb24 {
  padding-bottom: 24px !important;
}

.d_px24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.d_py24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.d_m24 {
  margin: 24px !important;
}

.d_mt24 {
  margin-top: 24px !important;
}

.d_ml24 {
  margin-left: 24px !important;
}

.d_mr24 {
  margin-right: 24px !important;
}

.d_mb24 {
  margin-bottom: 24px !important;
}

.d_mx24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.d_my24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.d_p25 {
  padding: 25px !important;
}

.d_pt25 {
  padding-top: 25px !important;
}

.d_pl25 {
  padding-left: 25px !important;
}

.d_pr25 {
  padding-right: 25px !important;
}

.d_pb25 {
  padding-bottom: 25px !important;
}

.d_px25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.d_py25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.d_m25 {
  margin: 25px !important;
}

.d_mt25 {
  margin-top: 25px !important;
}

.d_ml25 {
  margin-left: 25px !important;
}

.d_mr25 {
  margin-right: 25px !important;
}

.d_mb25 {
  margin-bottom: 25px !important;
}

.d_mx25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.d_my25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.d_p26 {
  padding: 26px !important;
}

.d_pt26 {
  padding-top: 26px !important;
}

.d_pl26 {
  padding-left: 26px !important;
}

.d_pr26 {
  padding-right: 26px !important;
}

.d_pb26 {
  padding-bottom: 26px !important;
}

.d_px26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.d_py26 {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.d_m26 {
  margin: 26px !important;
}

.d_mt26 {
  margin-top: 26px !important;
}

.d_ml26 {
  margin-left: 26px !important;
}

.d_mr26 {
  margin-right: 26px !important;
}

.d_mb26 {
  margin-bottom: 26px !important;
}

.d_mx26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}

.d_my26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.d_p27 {
  padding: 27px !important;
}

.d_pt27 {
  padding-top: 27px !important;
}

.d_pl27 {
  padding-left: 27px !important;
}

.d_pr27 {
  padding-right: 27px !important;
}

.d_pb27 {
  padding-bottom: 27px !important;
}

.d_px27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}

.d_py27 {
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}

.d_m27 {
  margin: 27px !important;
}

.d_mt27 {
  margin-top: 27px !important;
}

.d_ml27 {
  margin-left: 27px !important;
}

.d_mr27 {
  margin-right: 27px !important;
}

.d_mb27 {
  margin-bottom: 27px !important;
}

.d_mx27 {
  margin-left: 27px !important;
  margin-right: 27px !important;
}

.d_my27 {
  margin-top: 27px !important;
  margin-bottom: 27px !important;
}

.d_p28 {
  padding: 28px !important;
}

.d_pt28 {
  padding-top: 28px !important;
}

.d_pl28 {
  padding-left: 28px !important;
}

.d_pr28 {
  padding-right: 28px !important;
}

.d_pb28 {
  padding-bottom: 28px !important;
}

.d_px28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.d_py28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.d_m28 {
  margin: 28px !important;
}

.d_mt28 {
  margin-top: 28px !important;
}

.d_ml28 {
  margin-left: 28px !important;
}

.d_mr28 {
  margin-right: 28px !important;
}

.d_mb28 {
  margin-bottom: 28px !important;
}

.d_mx28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.d_my28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.d_p29 {
  padding: 29px !important;
}

.d_pt29 {
  padding-top: 29px !important;
}

.d_pl29 {
  padding-left: 29px !important;
}

.d_pr29 {
  padding-right: 29px !important;
}

.d_pb29 {
  padding-bottom: 29px !important;
}

.d_px29 {
  padding-left: 29px !important;
  padding-right: 29px !important;
}

.d_py29 {
  padding-top: 29px !important;
  padding-bottom: 29px !important;
}

.d_m29 {
  margin: 29px !important;
}

.d_mt29 {
  margin-top: 29px !important;
}

.d_ml29 {
  margin-left: 29px !important;
}

.d_mr29 {
  margin-right: 29px !important;
}

.d_mb29 {
  margin-bottom: 29px !important;
}

.d_mx29 {
  margin-left: 29px !important;
  margin-right: 29px !important;
}

.d_my29 {
  margin-top: 29px !important;
  margin-bottom: 29px !important;
}

.d_p30 {
  padding: 30px !important;
}

.d_pt30 {
  padding-top: 30px !important;
}

.d_pl30 {
  padding-left: 30px !important;
}

.d_pr30 {
  padding-right: 30px !important;
}

.d_pb30 {
  padding-bottom: 30px !important;
}

.d_px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.d_py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.d_m30 {
  margin: 30px !important;
}

.d_mt30 {
  margin-top: 30px !important;
}

.d_ml30 {
  margin-left: 30px !important;
}

.d_mr30 {
  margin-right: 30px !important;
}

.d_mb30 {
  margin-bottom: 30px !important;
}

.d_mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.d_my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.d_p31 {
  padding: 31px !important;
}

.d_pt31 {
  padding-top: 31px !important;
}

.d_pl31 {
  padding-left: 31px !important;
}

.d_pr31 {
  padding-right: 31px !important;
}

.d_pb31 {
  padding-bottom: 31px !important;
}

.d_px31 {
  padding-left: 31px !important;
  padding-right: 31px !important;
}

.d_py31 {
  padding-top: 31px !important;
  padding-bottom: 31px !important;
}

.d_m31 {
  margin: 31px !important;
}

.d_mt31 {
  margin-top: 31px !important;
}

.d_ml31 {
  margin-left: 31px !important;
}

.d_mr31 {
  margin-right: 31px !important;
}

.d_mb31 {
  margin-bottom: 31px !important;
}

.d_mx31 {
  margin-left: 31px !important;
  margin-right: 31px !important;
}

.d_my31 {
  margin-top: 31px !important;
  margin-bottom: 31px !important;
}

.d_p32 {
  padding: 32px !important;
}

.d_pt32 {
  padding-top: 32px !important;
}

.d_pl32 {
  padding-left: 32px !important;
}

.d_pr32 {
  padding-right: 32px !important;
}

.d_pb32 {
  padding-bottom: 32px !important;
}

.d_px32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.d_py32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.d_m32 {
  margin: 32px !important;
}

.d_mt32 {
  margin-top: 32px !important;
}

.d_ml32 {
  margin-left: 32px !important;
}

.d_mr32 {
  margin-right: 32px !important;
}

.d_mb32 {
  margin-bottom: 32px !important;
}

.d_mx32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.d_my32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.d_p33 {
  padding: 33px !important;
}

.d_pt33 {
  padding-top: 33px !important;
}

.d_pl33 {
  padding-left: 33px !important;
}

.d_pr33 {
  padding-right: 33px !important;
}

.d_pb33 {
  padding-bottom: 33px !important;
}

.d_px33 {
  padding-left: 33px !important;
  padding-right: 33px !important;
}

.d_py33 {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
}

.d_m33 {
  margin: 33px !important;
}

.d_mt33 {
  margin-top: 33px !important;
}

.d_ml33 {
  margin-left: 33px !important;
}

.d_mr33 {
  margin-right: 33px !important;
}

.d_mb33 {
  margin-bottom: 33px !important;
}

.d_mx33 {
  margin-left: 33px !important;
  margin-right: 33px !important;
}

.d_my33 {
  margin-top: 33px !important;
  margin-bottom: 33px !important;
}

.d_p34 {
  padding: 34px !important;
}

.d_pt34 {
  padding-top: 34px !important;
}

.d_pl34 {
  padding-left: 34px !important;
}

.d_pr34 {
  padding-right: 34px !important;
}

.d_pb34 {
  padding-bottom: 34px !important;
}

.d_px34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

.d_py34 {
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}

.d_m34 {
  margin: 34px !important;
}

.d_mt34 {
  margin-top: 34px !important;
}

.d_ml34 {
  margin-left: 34px !important;
}

.d_mr34 {
  margin-right: 34px !important;
}

.d_mb34 {
  margin-bottom: 34px !important;
}

.d_mx34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}

.d_my34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}

.d_p35 {
  padding: 35px !important;
}

.d_pt35 {
  padding-top: 35px !important;
}

.d_pl35 {
  padding-left: 35px !important;
}

.d_pr35 {
  padding-right: 35px !important;
}

.d_pb35 {
  padding-bottom: 35px !important;
}

.d_px35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.d_py35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.d_m35 {
  margin: 35px !important;
}

.d_mt35 {
  margin-top: 35px !important;
}

.d_ml35 {
  margin-left: 35px !important;
}

.d_mr35 {
  margin-right: 35px !important;
}

.d_mb35 {
  margin-bottom: 35px !important;
}

.d_mx35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.d_my35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.d_p36 {
  padding: 36px !important;
}

.d_pt36 {
  padding-top: 36px !important;
}

.d_pl36 {
  padding-left: 36px !important;
}

.d_pr36 {
  padding-right: 36px !important;
}

.d_pb36 {
  padding-bottom: 36px !important;
}

.d_px36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.d_py36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.d_m36 {
  margin: 36px !important;
}

.d_mt36 {
  margin-top: 36px !important;
}

.d_ml36 {
  margin-left: 36px !important;
}

.d_mr36 {
  margin-right: 36px !important;
}

.d_mb36 {
  margin-bottom: 36px !important;
}

.d_mx36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.d_my36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.d_p37 {
  padding: 37px !important;
}

.d_pt37 {
  padding-top: 37px !important;
}

.d_pl37 {
  padding-left: 37px !important;
}

.d_pr37 {
  padding-right: 37px !important;
}

.d_pb37 {
  padding-bottom: 37px !important;
}

.d_px37 {
  padding-left: 37px !important;
  padding-right: 37px !important;
}

.d_py37 {
  padding-top: 37px !important;
  padding-bottom: 37px !important;
}

.d_m37 {
  margin: 37px !important;
}

.d_mt37 {
  margin-top: 37px !important;
}

.d_ml37 {
  margin-left: 37px !important;
}

.d_mr37 {
  margin-right: 37px !important;
}

.d_mb37 {
  margin-bottom: 37px !important;
}

.d_mx37 {
  margin-left: 37px !important;
  margin-right: 37px !important;
}

.d_my37 {
  margin-top: 37px !important;
  margin-bottom: 37px !important;
}

.d_p38 {
  padding: 38px !important;
}

.d_pt38 {
  padding-top: 38px !important;
}

.d_pl38 {
  padding-left: 38px !important;
}

.d_pr38 {
  padding-right: 38px !important;
}

.d_pb38 {
  padding-bottom: 38px !important;
}

.d_px38 {
  padding-left: 38px !important;
  padding-right: 38px !important;
}

.d_py38 {
  padding-top: 38px !important;
  padding-bottom: 38px !important;
}

.d_m38 {
  margin: 38px !important;
}

.d_mt38 {
  margin-top: 38px !important;
}

.d_ml38 {
  margin-left: 38px !important;
}

.d_mr38 {
  margin-right: 38px !important;
}

.d_mb38 {
  margin-bottom: 38px !important;
}

.d_mx38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}

.d_my38 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
}

.d_p39 {
  padding: 39px !important;
}

.d_pt39 {
  padding-top: 39px !important;
}

.d_pl39 {
  padding-left: 39px !important;
}

.d_pr39 {
  padding-right: 39px !important;
}

.d_pb39 {
  padding-bottom: 39px !important;
}

.d_px39 {
  padding-left: 39px !important;
  padding-right: 39px !important;
}

.d_py39 {
  padding-top: 39px !important;
  padding-bottom: 39px !important;
}

.d_m39 {
  margin: 39px !important;
}

.d_mt39 {
  margin-top: 39px !important;
}

.d_ml39 {
  margin-left: 39px !important;
}

.d_mr39 {
  margin-right: 39px !important;
}

.d_mb39 {
  margin-bottom: 39px !important;
}

.d_mx39 {
  margin-left: 39px !important;
  margin-right: 39px !important;
}

.d_my39 {
  margin-top: 39px !important;
  margin-bottom: 39px !important;
}

.d_p40 {
  padding: 40px !important;
}

.d_pt40 {
  padding-top: 40px !important;
}

.d_pl40 {
  padding-left: 40px !important;
}

.d_pr40 {
  padding-right: 40px !important;
}

.d_pb40 {
  padding-bottom: 40px !important;
}

.d_px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.d_py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.d_m40 {
  margin: 40px !important;
}

.d_mt40 {
  margin-top: 40px !important;
}

.d_ml40 {
  margin-left: 40px !important;
}

.d_mr40 {
  margin-right: 40px !important;
}

.d_mb40 {
  margin-bottom: 40px !important;
}

.d_mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.d_my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.d_p41 {
  padding: 41px !important;
}

.d_pt41 {
  padding-top: 41px !important;
}

.d_pl41 {
  padding-left: 41px !important;
}

.d_pr41 {
  padding-right: 41px !important;
}

.d_pb41 {
  padding-bottom: 41px !important;
}

.d_px41 {
  padding-left: 41px !important;
  padding-right: 41px !important;
}

.d_py41 {
  padding-top: 41px !important;
  padding-bottom: 41px !important;
}

.d_m41 {
  margin: 41px !important;
}

.d_mt41 {
  margin-top: 41px !important;
}

.d_ml41 {
  margin-left: 41px !important;
}

.d_mr41 {
  margin-right: 41px !important;
}

.d_mb41 {
  margin-bottom: 41px !important;
}

.d_mx41 {
  margin-left: 41px !important;
  margin-right: 41px !important;
}

.d_my41 {
  margin-top: 41px !important;
  margin-bottom: 41px !important;
}

.d_p42 {
  padding: 42px !important;
}

.d_pt42 {
  padding-top: 42px !important;
}

.d_pl42 {
  padding-left: 42px !important;
}

.d_pr42 {
  padding-right: 42px !important;
}

.d_pb42 {
  padding-bottom: 42px !important;
}

.d_px42 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}

.d_py42 {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}

.d_m42 {
  margin: 42px !important;
}

.d_mt42 {
  margin-top: 42px !important;
}

.d_ml42 {
  margin-left: 42px !important;
}

.d_mr42 {
  margin-right: 42px !important;
}

.d_mb42 {
  margin-bottom: 42px !important;
}

.d_mx42 {
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.d_my42 {
  margin-top: 42px !important;
  margin-bottom: 42px !important;
}

.d_p43 {
  padding: 43px !important;
}

.d_pt43 {
  padding-top: 43px !important;
}

.d_pl43 {
  padding-left: 43px !important;
}

.d_pr43 {
  padding-right: 43px !important;
}

.d_pb43 {
  padding-bottom: 43px !important;
}

.d_px43 {
  padding-left: 43px !important;
  padding-right: 43px !important;
}

.d_py43 {
  padding-top: 43px !important;
  padding-bottom: 43px !important;
}

.d_m43 {
  margin: 43px !important;
}

.d_mt43 {
  margin-top: 43px !important;
}

.d_ml43 {
  margin-left: 43px !important;
}

.d_mr43 {
  margin-right: 43px !important;
}

.d_mb43 {
  margin-bottom: 43px !important;
}

.d_mx43 {
  margin-left: 43px !important;
  margin-right: 43px !important;
}

.d_my43 {
  margin-top: 43px !important;
  margin-bottom: 43px !important;
}

.d_p44 {
  padding: 44px !important;
}

.d_pt44 {
  padding-top: 44px !important;
}

.d_pl44 {
  padding-left: 44px !important;
}

.d_pr44 {
  padding-right: 44px !important;
}

.d_pb44 {
  padding-bottom: 44px !important;
}

.d_px44 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}

.d_py44 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}

.d_m44 {
  margin: 44px !important;
}

.d_mt44 {
  margin-top: 44px !important;
}

.d_ml44 {
  margin-left: 44px !important;
}

.d_mr44 {
  margin-right: 44px !important;
}

.d_mb44 {
  margin-bottom: 44px !important;
}

.d_mx44 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}

.d_my44 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}

.d_p45 {
  padding: 45px !important;
}

.d_pt45 {
  padding-top: 45px !important;
}

.d_pl45 {
  padding-left: 45px !important;
}

.d_pr45 {
  padding-right: 45px !important;
}

.d_pb45 {
  padding-bottom: 45px !important;
}

.d_px45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.d_py45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.d_m45 {
  margin: 45px !important;
}

.d_mt45 {
  margin-top: 45px !important;
}

.d_ml45 {
  margin-left: 45px !important;
}

.d_mr45 {
  margin-right: 45px !important;
}

.d_mb45 {
  margin-bottom: 45px !important;
}

.d_mx45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.d_my45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.d_p46 {
  padding: 46px !important;
}

.d_pt46 {
  padding-top: 46px !important;
}

.d_pl46 {
  padding-left: 46px !important;
}

.d_pr46 {
  padding-right: 46px !important;
}

.d_pb46 {
  padding-bottom: 46px !important;
}

.d_px46 {
  padding-left: 46px !important;
  padding-right: 46px !important;
}

.d_py46 {
  padding-top: 46px !important;
  padding-bottom: 46px !important;
}

.d_m46 {
  margin: 46px !important;
}

.d_mt46 {
  margin-top: 46px !important;
}

.d_ml46 {
  margin-left: 46px !important;
}

.d_mr46 {
  margin-right: 46px !important;
}

.d_mb46 {
  margin-bottom: 46px !important;
}

.d_mx46 {
  margin-left: 46px !important;
  margin-right: 46px !important;
}

.d_my46 {
  margin-top: 46px !important;
  margin-bottom: 46px !important;
}

.d_p47 {
  padding: 47px !important;
}

.d_pt47 {
  padding-top: 47px !important;
}

.d_pl47 {
  padding-left: 47px !important;
}

.d_pr47 {
  padding-right: 47px !important;
}

.d_pb47 {
  padding-bottom: 47px !important;
}

.d_px47 {
  padding-left: 47px !important;
  padding-right: 47px !important;
}

.d_py47 {
  padding-top: 47px !important;
  padding-bottom: 47px !important;
}

.d_m47 {
  margin: 47px !important;
}

.d_mt47 {
  margin-top: 47px !important;
}

.d_ml47 {
  margin-left: 47px !important;
}

.d_mr47 {
  margin-right: 47px !important;
}

.d_mb47 {
  margin-bottom: 47px !important;
}

.d_mx47 {
  margin-left: 47px !important;
  margin-right: 47px !important;
}

.d_my47 {
  margin-top: 47px !important;
  margin-bottom: 47px !important;
}

.d_p48 {
  padding: 48px !important;
}

.d_pt48 {
  padding-top: 48px !important;
}

.d_pl48 {
  padding-left: 48px !important;
}

.d_pr48 {
  padding-right: 48px !important;
}

.d_pb48 {
  padding-bottom: 48px !important;
}

.d_px48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.d_py48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.d_m48 {
  margin: 48px !important;
}

.d_mt48 {
  margin-top: 48px !important;
}

.d_ml48 {
  margin-left: 48px !important;
}

.d_mr48 {
  margin-right: 48px !important;
}

.d_mb48 {
  margin-bottom: 48px !important;
}

.d_mx48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.d_my48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.d_p49 {
  padding: 49px !important;
}

.d_pt49 {
  padding-top: 49px !important;
}

.d_pl49 {
  padding-left: 49px !important;
}

.d_pr49 {
  padding-right: 49px !important;
}

.d_pb49 {
  padding-bottom: 49px !important;
}

.d_px49 {
  padding-left: 49px !important;
  padding-right: 49px !important;
}

.d_py49 {
  padding-top: 49px !important;
  padding-bottom: 49px !important;
}

.d_m49 {
  margin: 49px !important;
}

.d_mt49 {
  margin-top: 49px !important;
}

.d_ml49 {
  margin-left: 49px !important;
}

.d_mr49 {
  margin-right: 49px !important;
}

.d_mb49 {
  margin-bottom: 49px !important;
}

.d_mx49 {
  margin-left: 49px !important;
  margin-right: 49px !important;
}

.d_my49 {
  margin-top: 49px !important;
  margin-bottom: 49px !important;
}

.d_p50 {
  padding: 50px !important;
}

.d_pt50 {
  padding-top: 50px !important;
}

.d_pl50 {
  padding-left: 50px !important;
}

.d_pr50 {
  padding-right: 50px !important;
}

.d_pb50 {
  padding-bottom: 50px !important;
}

.d_px50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.d_py50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.d_m50 {
  margin: 50px !important;
}

.d_mt50 {
  margin-top: 50px !important;
}

.d_ml50 {
  margin-left: 50px !important;
}

.d_mr50 {
  margin-right: 50px !important;
}

.d_mb50 {
  margin-bottom: 50px !important;
}

.d_mx50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.d_my50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

@media screen and (max-width: 420px) {
  .d_spacer {
    margin: 10px 0;
  }
}

.responsive_container {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 420px) {
  .responsive_container {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (min-width: 900px) {
  .responsive_container {
    width: 840px;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .responsive_container {
    width: 1000px;
    padding: 0px auto;
  }
}

@media screen and (max-width: 420px) {
  .d_responsive .d_layout_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .d_responsive .d_layout_row.d_no_responsive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto !important;
  min-height: 100%;
}

.d_theme {
  background: whitesmoke;
}

.d_theme .info_box {
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 30px;
  margin: 30px auto;
}

@media screen and (max-width: 420px) {
  .d_theme .info_box {
    padding: 25px 10px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 900px) {
  .d_theme .info_box {
    padding: 30px;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1200px) {
  .d_theme .info_box {
    padding: 30px;
    margin: 20px auto;
  }
}

.d_white_1 {
  color: rgba(255, 255, 255, 0.1);
}

.d_black_1 {
  color: rgba(255, 255, 255, 0.1);
}

.d_white_2 {
  color: rgba(255, 255, 255, 0.2);
}

.d_black_2 {
  color: rgba(255, 255, 255, 0.2);
}

.d_white_3 {
  color: rgba(255, 255, 255, 0.3);
}

.d_black_3 {
  color: rgba(255, 255, 255, 0.3);
}

.d_white_4 {
  color: rgba(255, 255, 255, 0.4);
}

.d_black_4 {
  color: rgba(255, 255, 255, 0.4);
}

.d_white_5 {
  color: rgba(255, 255, 255, 0.5);
}

.d_black_5 {
  color: rgba(255, 255, 255, 0.5);
}

.d_white_6 {
  color: rgba(255, 255, 255, 0.6);
}

.d_black_6 {
  color: rgba(255, 255, 255, 0.6);
}

.d_white_7 {
  color: rgba(255, 255, 255, 0.7);
}

.d_black_7 {
  color: rgba(255, 255, 255, 0.7);
}

.d_white_8 {
  color: rgba(255, 255, 255, 0.8);
}

.d_black_8 {
  color: rgba(255, 255, 255, 0.8);
}

.d_white_9 {
  color: rgba(255, 255, 255, 0.9);
}

.d_black_9 {
  color: rgba(255, 255, 255, 0.9);
}

.d_white_10 {
  color: white;
}

.d_black_10 {
  color: white;
}
/*# sourceMappingURL=d.css.map */