<body>
  <h1>Backtest</h1>
  <form>
    <select name="symbol">
      {% for symbol in symbols %}
      <option value="{{symbol}}">{{symbols[symbol]}}</option>
      {% endfor %}
    </select>
    <input name="entry_rule" value="" />
    <input name="exit_rule" value="" />
    <input type="submit" value="backtest" />
  </form>
  {%if result.order_book|length > 0 %}
  <div class="result">
    <table border="1">
      <tr>
        <td>Buy Date</td>
        <td>Buy Price</td>
        <td>Sell Date</td>
        <td>Sell Price</td>
        <td>Price Change</td>
      </tr>
      {% for res in result.order_book %}
      <tr>
        <td>{{res.buy_date}}</td>
        <td>{{res.buy_price}}</td>
        <td>{{res.sell_date}}</td>
        <td>{{res.sell_price}}</td>
        <td>{{res.per_change}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %} {%if result.summary%}
  <div class="summary">
    <table border="1">
      {% for key in result.summary %}
      <tr>
        <td>{{key}}</td>
        <td>{{result.summary[key]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</body>
